body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0.5rem;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;

    scroll-snap-type: y mandatory;
}

p, h1, h2 {
  color: white;
}

h2 {
  cursor:pointer;
}


/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

header > div {
  flex-basis: 60%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header > div > input {
  width: 40%;
  height: 3vh;

  border-radius: 3rem;
  font-size: 1.5rem;

  padding: 0.5rem;
}

header > div > div.tag-div-group {
  width: 30%;
  border: 0.2rem dashed white;
  margin-left: 20%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header > .header-lesser-text {
  cursor: pointer;
  opacity: 0.4;
  transition: all;
  transition-duration: 0.2s;
}

header > .header-lesser-text:hover {
  opacity: 1;
}

/* TagList */
.tag-list-div {
  padding: 0.5rem;
  border: 0.2rem dashed white;
  background-color: black;

  width: 50vw;
  height: 40vh;

  position: absolute;
  z-index: 13;

  margin-left: 20vw;
  margin-top: 10vh;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

/* Settings */

.settings-div {
  border: 0.2rem dashed white;

  width: 50vw;
  height: 40vh;

  position: absolute;
  z-index: 13;

  margin-left: 20vw;
  margin-top: 10vh;
}

/* Utilities */

.utilities-div {
    border: 0.2rem dashed white;

  width: 50vw;
  height: 40vh;

  position: absolute;
  z-index: 13;

  margin-left: 20vw;
  margin-top: 10vh;
}


#fullscreen-div > img {
  width: 50vw !important;
  height: 50vh !important;
}



div#root > div > img {
  margin: 0.5% 0.5% 0.5% 0.5%;
  transition: all 0.3s, height 0.3s;
  
}

div#root > div > img:not(.fullscreen):hover {
  transform: scale(1.2);

}

body:has(.fullscreen) {
  overflow-y: hidden;
}

/* div#root > div > img:active {
  transform: scale(5);
}

*/


img.fullscreen {
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);

width: 50vh;
height: 50vh;

z-index: 10;

box-shadow: 0 0 5px 800px rgba(199, 199, 199, 0.623);

}

div.img-info-div {
  background-color: rgba(58, 56, 53, 0.95);
  width: 40vw;
  height: 20vh;

  position: fixed;
  top: 78%;
  left: 50.5%;
  transform: translate(-50%, -50%);

  z-index: 11;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

div.img-info-div p {
  font-size: 1.2rem;
  opacity: 0.8;
  font-style: italic;
  font-weight:400;
  font-family:monospace;
  margin-left: 5%;
}

div.img-info-div p:last-child {
  margin-top: -10%;
}

.fullscreen-nav-arrows {
  position: fixed;
  top: 38%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 65vh;

  z-index: 15;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

/*   border: 2px solid green; */

}

.left-arrow, .right-arrow {
  font-size: 6rem;
  cursor:pointer;
}